nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0b096f7c;
}

.navbar-image {
  width: 180px;
}

.not-found-text {
  text-align: center;
  font-size: 60px;
  padding: 40px;
  padding-top: 80px;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.footer {
  display: flex;
  box-sizing: border-box;
  padding: 10px 10% 25px 8%;
  justify-content: center;
  background: #0b096f7c;
  border-radius: 85% 85% 0 0/ 30%;
  color: white;
  font-size: small;
}

#A-Z{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}