@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/******** CARDS ********/
.pokemon-card {
    width: 350px;
    height: 400px;
    margin: 30px 50px 30px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.pokemon-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: inset white 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.205);
}

.pokemon-img {
    height: 80%;
}

.card-body {
    justify-content: space-between;
    margin: 5%;
    width: 90%;
}

.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-transform: capitalize;
    cursor: pointer;
}

text {
    padding: 10px;
}

.pokemon-type {
    display: flex;
    align-items: center;
}

.pokemon-type-text {
    margin-right: 10px;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25);
}

.pokemon-ability-text {
    text-transform: capitalize;
    margin: 7px;
    text-align: center;
}

/******** POPUP ********/
.modal {
    font-size: 12px;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.header-container {
    display: flex;
    flex-direction: row-reverse;
}

.header {
    width: 100%;
    text-transform: capitalize;
    font-size: 35px;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: "VT323", monospace;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 4px 7px;
    line-height: 20px;
    right: -15px;
    top: -15px;
    font-size: 24px;
    background: #ffffff;
    border: rgb(255, 255, 255);
    border-radius: 18px;
}

.content {
    display: flex;
    align-items: flex-start;
    border: solid 1px rgb(88, 113, 90);
    font-family: "VT323", monospace;
    font-size: 15px;
    background: url("../img/forest.png");
    background-size: 100% 100%;
}

.popup-img-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 200px;
}

.pokemon-popup-img {
    width: 100%;
    resize: both;
}

.ev {
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-border {
    border-left: solid 1px rgb(88, 113, 90);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.945);
}

#stats {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#stats > text {
    padding-top: 10px;
}

/******** ANIMATIONS ********/
@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

/******** TYPE COLORS ********/
#normal {
    background-color: lavender;
}
#fire {
    background-color: rgb(255, 208, 154);
}
#water {
    background-color: rgb(177, 226, 250);
}
#grass {
    background-color: rgb(196, 249, 196);
}
#electric {
    background-color: rgb(243, 243, 94);
}
#ice {
    background-color: rgb(191, 249, 230);
}
#fighting {
    background-color: rgb(200, 111, 111);
}
#poison {
    background-color: rgb(190, 158, 255);
}
#ground {
    background-color: rgb(222, 184, 135);
}
#flying {
    background-color: rgb(169, 193, 248);
}
#psychic {
    background-color: rgb(188, 129, 188);
}
#bug {
    background-color: rgb(169, 202, 103);
}
#rock {
    background-color: rgb(180, 138, 97);
}
#ghost {
    background-color: rgb(139, 87, 139);
}
#dragon {
    background-color: rgb(142, 126, 234);
}
#dark {
    background-color: hsl(210, 13%, 50%);
}
#steel {
    background-color: rgb(183, 181, 181);
}
#fairy {
    background-color: rgb(249, 182, 239);
}
#unknown {
    background-color: lightgray;
}

/********* CARD COLORS ***************/
#pokemon-card-normal {
    background: linear-gradient(135deg, #d2d2d2 0%, #8a8a8a 100%);
}
#pokemon-card-fire {
    background: linear-gradient(135deg, #efd5b7 0%, #a78968 100%);
}
#pokemon-card-water {
    background: linear-gradient(135deg, #d1ecf9 0%, #648c9e 100%);
}
#pokemon-card-grass {
    background: linear-gradient(135deg, #d5f3d5 0%, #82b982 100%);
}
#pokemon-card-electric {
    background: linear-gradient(135deg, #f3f35e 0%, #bdbd38 100%);
}
#pokemon-card-ice {
    background: linear-gradient(135deg, #bbded3 0%, #70a795 100%);
}
#pokemon-card-fighting {
    background: linear-gradient(135deg, #b68888 0%, #703f3f 100%);
}
#pokemon-card-poison {
    background: linear-gradient(135deg, #be9eff 0%, #6c4fa7 100%);
}
#pokemon-card-ground {
    background: linear-gradient(135deg, #deb887 0%, #967345 100%);
}
#pokemon-card-flying {
    background: linear-gradient(135deg, #a9c1f8 0%, #586fa5 100%);
}
#pokemon-card-psychic {
    background: linear-gradient(135deg, #bc81bc 0%, #864686 100%);
}
#pokemon-card-bug {
    background: linear-gradient(135deg, #a9ca67 0%, #5f772d 100%);
}
#pokemon-card-rock {
    background: linear-gradient(135deg, #b48a61 0%, #77532f 100%);
}
#pokemon-card-ghost {
    background: linear-gradient(135deg, #8b578b 0%, #5e2b5e 100%);
}
#pokemon-card-dragon {
    background: linear-gradient(135deg, #8e7eea 0%, #463892 100%);
}
#pokemon-card-dark {
    background: linear-gradient(135deg, #708090 0%, #3b6477 100%);
}
#pokemon-card-steel {
    background: linear-gradient(135deg, #b7b5b5 0%, #3b667a 100%);
}
#pokemon-card-fairy {
    background: linear-gradient(135deg, #f9b6ef 0%, #bb66ae 100%);
}
#pokemon-card-unknown {
    background: linear-gradient(135deg, #d3d3d3 0%, #d3d3d3 100%);
}
