.pokedex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.Loader {
  width: 150px;
  height: 150px;
  animation: loader-spin infinite 0.5s linear;
  padding: 80px;
  display: block;
  margin: 0 auto;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.simplebar-scrollbar::before {
  background-color: #0b096f;
}
